*{
    padding: 0px;
    margin: 0;
}

.container{
    display: grid;
    grid-template-areas: 
        "a a a a a a"
        "b b b b d d"
        "b b b b d d"
        "b b b b d d"
        "c c c c c c";
    height: 100%;
    width: 100%;
}

#logo{
    float: left;
    padding: 20px;
    padding-left: 50px;
}
.nav{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;

    float: right;
    position: relative;
    /* top : 30px; */
    /* right: 0px; */
    color: black;
    margin: 40px 40px;
}


.background{
    height: 100px;
    width: 500px;
    background-color: #3d5a80;
}
.btn-booking{
    justify-content: center;
    font-size: 10px; 
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #3d5a80, #6285bf 50%,#fff 80%);
    box-shadow:2px 2px 2px 1px rgb(0 0 0 / 20%);
    transition: 0.5s ease-out;
    padding: 10px;
    border-width: thin;
    border: none;
}

.btn-booking:hover{
    transition: 0.2s ease-out;
      color: #3d5a80;
      background-position: right center;
      box-shadow: 3px 3px 2px 1px #3d5a80;
  }
  
  .btn-booking:active{
    transition: 0.1s ease-in;
    box-shadow: 2px 2px 1px 0px #3d5a80;
  }

.linfo{
    font: normal normal bold 20px/1.5 Arial;
    color: #3d5a80;
}

.lab-in{
    display: block;
    padding: 15px;
    font-weight: 600;
}

.input{
    font-size: 15px;
    margin-left: 30px;
    height: 20px;
    width: 200px;
    padding: 10px;
}
.select{
    height: 40px;
    width: 80px;
    font-size: 15px;

}

.time{
    position: relative;
    display: block;
}


.header{
    position: -webkit-sticky;
    position: sticky;
    grid-area: a;
    /* background-color:#3d5a80; */
    display: inline-block;
    padding-block: 20px;
    border: none;
}

.layout{
    grid-area: b;
    font-style: sans-serif;
    color: #3d5a80;
    margin: 25px;
    padding: 20px;
}
#ITC{
    justify-self: start;
    /* transform: scale(0.5); */
    box-shadow: 10px 10px 5px black;
    margin: 0px;
    opacity: 0.7;
    /* height: auto; */
}

.headlay{
    padding: 30px;
    font-family: sans-serif;
}
.footer{
    grid-area: c;
}

/* .Bookinginfo{
    padding-top: 90px;
    grid-area: d;
    font-family: sans-serif;
    display: none;
}

.Bookinginfo:active{
    display: block;
    transition: 2s ease-in-out;
} */
.Bookinginfo {
    padding-top: 90px;
    grid-area: d;
    font-family: sans-serif;
    display: none;
}

.bookingInfoVisible {
    display: block;
    opacity: 1;
}

/* media screen */
@media screen and (max-width: 768px) {
    .nav{
        margin : 40px 20px;
    }
    .headlay{
        font-size: 15px;
    }
    .Bookinginfo{
        font-size: 15px;
    }
    .btn-booking:hover{
        display: none;
    }
    .lab-in{
        padding: 10px;
    }
    .input{
        width: 150px;
        margin-right: 20px;
    }
    .select{
        width: 70px;
    }
}
